<a href="https://colab.research.google.com/github/Niharika1694/PDS-B24-2303A51694/blob/main/LAB02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create and Manipulate Arrays and Dataframes using Numpy nad pandas in python

In [1]:
import numpy as np
import pandas as pd

In [2]:
arr = np.array([10, 20, 30, 40, 50])
print('Original Array:', arr)

Original Array: [10 20 30 40 50]

In [5]:
arr + 5
arr * 2
arr[arr > 25]

array([30, 40, 50])

In [6]:
data = {
'Name': ['Alice', 'Bob', 'Charlie', 'David'],
'Age': [25, 30, 35, 40],
'Score': [85.5, 92.0, 88.0, 76.5]
}

In [7]:
df = pd.DataFrame(data)
print("\nOriginal DataFrame:\n", df)

Original DataFrame:
       Name  Age  Score
0    Alice   25   85.5
1      Bob   30   92.0
2  Charlie   35   88.0
3    David   40   76.5

In [8]:
df['Passed'] = df['Score'] >= 80
print("\nDataFrame with 'Passed' column:\n", df)

DataFrame with 'Passed' column:
       Name  Age  Score  Passed
0    Alice   25   85.5    True
1      Bob   30   92.0    True
2  Charlie   35   88.0    True
3    David   40   76.5   False

In [9]:
older_students = df[df['Age'] > 30]
print("\nStudents older than 30:\n", older_students)

Students older than 30:
       Name  Age  Score  Passed
2  Charlie   35   88.0    True
3    David   40   76.5   False

In [10]:
average_score = df['Score'].mean()
print("\nAverage Score:", average_score)

Average Score: 85.5